    <nav class="navbar navbar-expand-lg bg-dark" >
        <div class="container-fluid">
        <a class="navbar-brand text-light bg-dark fs-1"  href="">WeTube</a>
        <i class="bi bi-person-video3"></i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end" id="navbarSupportedContent">
            <button type="success" class="btn btn-outline-light mx-3" routerLink="aula/crear">Crear tutorial</button>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Introduce tutorial ID" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
        </div>
        </div>
    </nav>
